# Flutter related
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/

# Android related
android/.gradle/
android/app/build/
android/local.properties
/android/app/debug
/android/app/profile
/android/app/release

# iOS & macOS related
ios/Pods/
ios/Runner.xcworkspace/
ios/.symlinks/
ios/Flutter/ephemeral/
macos/Pods/
macos/Runner.xcworkspace/
macos/build/
macos/Flutter/ephemeral/
*.xcuserstate
DerivedData/
.swiftpm/

# Windows related
windows/Flutter/ephemeral/
windows/.plugin_symlinks/
windows/out/

# IDE related
.vscode/
.idea/
*.iml
*.ipr
*.iws

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
migrate_working_dir/

# Symbolication & obfuscation related
app.*.symbols
app.*.map.json